.container {
  background-color: black;
  overflow: hidden;
}

#id {
  background: black;
  background-size: 100% 100%;
  background-image: none;
  overflow: hidden;
}

.w-page {
  margin: 0 auto;
  position: relative;
  background-color: #3e454d;
  background-size: cover;
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.w-page__header {
  width: 100%;
  height: 20%;
}
.w-page__header-menu {
  width: 6vw;
  min-width: 30px;
  max-width: 50px;
  float: right;
  margin: 2vw 5vw;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
}
.w-page__header-menu:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
}
.w-page__header-menu img {
  width: 100%;
}
.w-page__header-logo {
  width: 12%;
  min-width: 100px;
  max-width: 160px;
  float: left;
  margin: 2.5vw 5vw;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
}
.w-page__header-logo:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
}
.w-page__header-logo img {
  width: 100%;
}
.w-page__logo {
  width: 35vw;
  min-width: 200px;
  max-width: 500px;
  height: 15vw;
  margin: 18vh auto;
}
.w-page__logo img {
  width: 100%;
}
.w-page__menu {
  height: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 2% 0;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.w-page__menu-item {
  width: 30vw;
  margin: 0 auto;
  font-size: 42px;
  font-weight: 200;
  line-height: 51px;
  color: #bcbcbc;
  font-family: Montserrat;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
@media (min-width: 500px) and (max-width: 1200px) {
  .w-page__menu-item {
    font-size: 33px;
  }
}
@media screen and (max-width: 599px) {
  .w-page__menu-item {
    font-size: 24px;
  }
}
.w-page__footer {
  width: 100%;
  position: absolute;
  top: 85%;
  text-decoration: none;
}
.w-page__footer-text {
  width: 30vw;
  margin: 0 auto;
  color: white;
  font-size: 16px;
  line-height: 20px;
  font-family: Montserrat;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
.w-page__footer-arrow {
  width: 70px;
  margin: 50px auto;
  border: 0.1px solid white;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.w-page__footer-wrap {
  width: 90% !important;
  margin: 3% auto 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.w-page__footer-wrap-item {
  width: 15vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #bcbcbc;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  font-family: Montserrat;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
.w-page__footer-wrap-item:first-child {
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
  color: white;
}
.w-page__footer-wrap-item:last-child {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: white;
}

#el-sc {
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
}
#el-sc:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
}

.newDiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 98% !important;
}
.newDiv__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
          flex-direction: row;
  width: 100% !important;
  margin: 0 auto;
}
.newDiv__wrap-item {
  width: 100% !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2% auto;
  font-size: 16px;
  line-height: 20px;
  color: #bcbcbc;
  font-family: Montserrat;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
.newDiv__wrap-item:last-child {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: white;
}
.newDiv__wrap-item:first-child {
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
  color: white;
}
@media screen and (max-width: 999px) {
  .newDiv__wrap-item {
    font-size: 12px;
  }
}