//====== MIXIN ======
@mixin flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin scale {
  transition: 0.4s linear;
  &:hover {
    transform: scale(1.2);
    transition: 0.4s linear;
  }
}
@mixin text {
  font-family: Montserrat;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
//====== MIXIN ======

.container {
  background-color: black;
  overflow: hidden;
}
#id {
  background: black;
  background-size: 100% 100%;
  background-image: none;
  overflow: hidden;
}
.w-page {
  margin: 0 auto;
  position: relative;
  background-color: rgb(62, 69, 77);
  background-size: cover;
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  &__header {
    width: 100%;
    height: 20%;
    &-menu {
      width: 6vw;
      min-width: 30px;
      max-width: 50px;
      float: right;
      margin: 2vw 5vw;
      @include scale;
      img {
        width: 100%;
      }
    }
    &-logo {
      width: 12%;
      min-width: 100px;
      max-width: 160px;
      float: left;
      margin: 2.5vw 5vw;
      @include scale;
      img {
        width: 100%;
      }
    }
  }
  &__logo {
    width: 35vw;
    min-width: 200px;
    max-width: 500px;
    height: 15vw;
    margin: 18vh auto;
    img {
      width: 100%;
    }
  }
  &__menu {
    height: 50%;
    display: flex;
    margin: 2% 0;
    @include flex-column;
    &-item {
      width: 30vw;
      margin: 0 auto;
      font-size: 42px;
      font-weight: 200;
      line-height: 51px;
      color: #bcbcbc;
      @include text;
      @media (min-width: 500px) and (max-width: 1200px) {
        font-size: 33px;
      }
      @media screen and (max-width: 599px) {
        font-size: 24px;
      }
    }
  }
  &__footer {
    width: 100%;
    position: absolute;
    top: 85%;
    text-decoration: none;
    &-text {
      width: 30vw;
      margin: 0 auto;
      color: white;
      font-size: 16px;
      line-height: 20px;
      @include text;
    }
    &-arrow {
      width: 70px;
      margin: 50px auto;
      border: 0.1px solid white;
      transform: rotate(90deg);
    }
    &-wrap {
      width: 90% !important;
      margin: 3% auto 0;
      display: grid;
      grid-template-columns: repeat(3, 30%);
      grid-column-gap: 6%;
      &-item {
        width: 25vw;
        display: flex;
        justify-content: center;
        color: #bcbcbc;
        font-size: 16px;
        font-weight: normal;
        line-height: 20px;
        @include text;
        &:first-child {
          justify-content: left;
          color: white;
        }
        &:last-child {
          justify-content: flex-end;
          color: white;
        }
        @media screen and (max-width: 900px) {
          font-size: 14px;
        }
      }
      @media screen and (max-width: 520px) {
        width: 98% !important;
        margin-left: -4%;
        grid-template: repeat(2, 50%) / 82% 5%;
        grid-column-gap: 8.5%;
        &-item {
          width: 60vw;
          margin: 2% auto;
          grid-column: 1 / 2;
          grid-row: 2 / 3;
          display: flex;
          justify-content: left !important;
          font-size: 12px;
          &:first-child {
            width: 8vw;
            margin: auto;
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            justify-content: flex-end !important;
          }
          &:last-child {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
          }
        }
      }
    }
  }
}

#el-sc {
  transition: 0.4s linear;
  &:hover {
    transform: scale(1.2);
    transition: 0.4s linear;
  }
}
